.thanks {
    font-size: 5em;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin: 0em 1em 1em 1em
}

.thanks-titles {
    /* color: rgb(228, 134, 58); */
    /* font-weight: bold; */
    font-size: 18px;
    font-weight: bold;
}

.thanks-section {
    margin-top: 2em;
}

.thanks-message {
    font-size: 16px;
    margin-top: 1em;
}


@media only screen and (max-width: 800px) {
  
    .thanks {
        font-size: 3em;
        font-family: 'Questrial', sans-serif;
        text-align: center;
    }

    .thanks-paragraph {
        font-size: 16px;
    }

    .thanks-titles {
        font-weight: bold;
        color: #3D5E79;
    }
  }

