/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Comfortaa', Arial, sans-serif;
	font-size: 14px;
  line-height: 1.5;
  text-align: center;
  background-color: white;
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: black;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

article {
  background-color: rgb(211, 242, 191);
  margin: 15px;
  padding: 15px;
}

img {
  display: block;
  border: 0;
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

img#smallicon {
  width: 75px;
  height: 75px;
}

.card {
  word-wrap: normal;
  margin-left: auto;
  margin-right: auto;
}

.section-content {
  padding: 1.4em;
}

.container-cards {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

#AdditionalInfo {
  display: flex;
  align-content: space-around;
  padding: 15px;
 
}